<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="~{/layout/index :: dynamic(~{::main})}">
<body>
	<main>
		<div class="offset-3 col-8 mt-4 mb-4">
			<form th:action="@{/security/login}" method="post">
				<div class="card card-center">
					<div class="card-header text-center">
						<h2>ĐĂNG NHẬP</h2>
					</div>

					<div class="card-body">
						<div class="form-group text-center">
							<button type="button" class="btn btn-primary">
								<span><i class="fa fa-facebook-official "
									aria-hidden="true"></i> Đăng nhập bằng Facebook</span>
							</button>
							<button type="button" class="btn btn-danger">
								<span><i class="fa fa-google-plus  " aria-hidden="true"></i>
									Đăng nhập bằng Google+</span>
							</button>
						</div>
						<p style="text-align: center">Hoặc</p>
						<div class="form-group">
							<input type="text" class="form-control" name="username"
								id="username" placeholder="Tài khoản?">
						</div>
						<div class="form-group">
							<input type="password" class="form-control" name="password"
								id="password" placeholder="Mật khẩu?">
						</div>
						<div class="form-check form-check-inline">
							<label><input type="checkbox" class="form-check-input"
								name="remember">Nhớ mật khẩu?</label>
						</div>
					</div>
					<div class="card-footer text-muted text-center">
						<div class="alert alert-danger" role="alert" th:text="${message}"></div>
						<button class="btn btn-success">Đăng nhập</button>
						<br /> <a href="#">Quên mật khẩu?</a><br />
						<hr />
						<button class="btn btn-primary">
							<i class="fa fa-user-plus"></i> Đăng ký
						</button>
					</div>
				</div>
			</form>
		</div>

	</main>
</body>
</html>